streamlit
st-supabase-connection>=2.0.1
fastapi>=0.104.1
uvicorn>=0.24.0
websockets>=12.0
pyserial>=3.5
plotly
python-multipart>=0.0.6
groq>=0.18.0
pdfplumber>=0.11.5
filetype>=1.2.0
reportlab
PyMuPDF>=1.23.0
matplotlib
requests
python-magic-bin>=0.4.14; platform_system == "Windows"
python-magic>=0.4.27; platform_system != "Windows"
asyncio>=3.4.3
kaleido
torch
torchvision
wfdb
scikit-learn
pandas
numpy
tqdm